*{
  font-family: 'Lucida Sans'; 
}

label, p{
    font-weight: bold;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.freepik.com/fotos-gratis/quadro-de-esporte-plana-leiga-com-salada_23-2148531521.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
}

#button_preencher_ficha{
    margin-top: 150px;
    width: 320px;
    height: 100px;
    border-radius: 10px;
}

.modal{
    width: 70%;
    height: 80%;
    border: none;
    border-radius: .5rem;
    box-shadow: black;
    color: rgb(56, 53, 53);
}

.formularioDadosPessoais{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linha{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    gap: 30px;
}

.linha-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 30px;
}

.linha-top .item{
    flex: 1;
    margin: 0px 30px;  
}

#buttonX, #buttonX2{
    margin-left: 95%;
    width: 25px;
    height: 25px;
    background-color: red;
    border: none;
    font-size: larger;
    color: white;
    font-weight: bold;       
}

.item{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

input, select{
    height: 25px;
    border-radius: 2px;
    border-width: 0.5px;
}

textarea{
    height: 50px;
    border-radius: 2px;
    border-width: 0.5px;
}

input:hover, select:hover, textarea:hover{
    border: 1px solid #0ea975;
}

input:focus, select:focus, textarea:focus{
    border: 2px solid #0ea975;
    outline: none;
}

dialog::backdrop{
    background-color: transparent;
}

.linha-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 40% 0 40%;
    gap: 30px;
}

.linha-bot button{
    border-radius: 2px;
    border-color: #0ea975;
    background-color: transparent;
}

.linha-bot button:hover{
    border: 2px solid #0ea975;
}

#linha-bot2{
    margin: 150px 0px 0px 50%;
}

button{
    cursor: pointer;
}

#linha-bot1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
    gap: 30px;
    margin-left: 43%;
    .item{
        flex-direction: row;
    }
}

#linhaDeTexts{
    margin-top: 10px;
    margin-bottom: 10px;
    .item{
        gap: 10px;
    }
}

#linhaRadio .item div {
  display: flex;
  align-items: center;
  gap: 5px; 
}

#linhaRadio input:focus{
    color: aqua;
}
